<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Zecheng Li (Justin)
              </h1>
              <p>I am a final year undergraduate student pursuing a BS in Mathematics-Economics in the <a href="https://economics.ucsd.edu/"> Department of Economics</a> and Cognitive Science with a specialization in Machine Learning in the <a href="https://cogsci.ucsd.edu/"> Department of Cognitive Science</a>. I am currently interested in the fields of machine learning, analytics, and econometrics. I am a data-driven person who never makes assumptions unless proven by data.
              </p>
              <p>I am a research assistant (starting in January 2022) under the supervision of <a href="https://mdavidson.org/about/">Prof Michael Davidson</a> in the <a href="https://mdavidson.org/">Davidson's Lab</a>. My research area is the transition of Chinese state-owned coal companies to carbon neutrality and labor resettlement issues based on The Consequences of the Thermal Coal Phase-out in China.
              </p>
              <p>The best way to learn is to teach. Due to my interest in machine learning, I am now a teaching assistant for a hardcore upper unsupervised machine learning class (Cogs 118b), helping students during my office hours and through Piazza.
              </p>
              <p><span class="bolded">I wish more people had a better chance of getting to know me through this site. Unfortunately, there are still many projects that  I would like to include on the site due to ongoing processes or privacy issues.</span> </p>
              <p style="text-align:center">
                <a target="_blank" href="mailto:zel012@ucsd.edu"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/orangejustin">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?hl=en&user=djUTv7MAAAAJ">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/zecheng-li-664536213/"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/justin.png">
            </td>
          </tr>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p></p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Project</h2>
              <p></p>
            </td>
          </tr>
        </table>



        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>. Forked from the <a href="https://github.com/leonidk/new_website">Jekyll varient</a> by Leonid Keselman.
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
